@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:wght@400;500;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playfair Display", serif;

}

body {
    background: url(./assets/background.webp) no-repeat center center fixed;
    background-size: cover;
    min-height: 120vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    margin: 0;
}


a {
    text-decoration: none;


}